@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>

<h4>Our Story</h4>

<p class="glyphicon-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis egestas gravida. Ut bibendum lectus volutpat ex semper rutrum. Sed dignissim nisi metus, sed vulputate augue consectetur eget. In hendrerit cursus magna non sollicitudin. Praesent id luctus augue, placerat commodo felis. Vivamus et bibendum turpis. Quisque molestie ante ultricies, vestibulum sem in, congue neque. Mauris laoreet neque ac enim hendrerit ornare.

Sed laoreet tellus vitae nibh posuere consequat. Ut in libero consectetur, sagittis urna at, scelerisque lectus. Donec et diam id dolor facilisis tristique. Curabitur et augue egestas arcu gravida porttitor quis sit amet metus. Sed aliquet venenatis ante et lacinia. Ut eros tortor, molestie non malesuada nec, finibus sed velit. Nulla luctus blandit libero, ac scelerisque mi. Quisque ultricies arcu accumsan rhoncus lobortis. Sed faucibus sit amet eros a venenatis. Donec est sapien, tincidunt vitae semper vitae, volutpat sit amet elit. Duis quis orci sollicitudin risus semper finibus. Praesent ornare dolor neque, ac pulvinar ex venenatis vitae. Cras quis sapien odio. In facilisis lectus vel hendrerit gravida. Donec lobortis, mi et maximus commodo, mi justo molestie sem, at laoreet orci eros non nisi. Praesent convallis ut dui vitae fermentum.

In gravida ante a tortor pellentesque, nec tincidunt ipsum tincidunt. Nulla facilisi. Vestibulum et dui iaculis, fermentum tellus ac, tincidunt eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec lorem dolor, tempor eu tellus at, euismod porta dui. Nunc sed viverra velit. Etiam risus nisi, scelerisque auctor ligula finibus, dictum aliquam urna. Nullam eleifend augue lectus, in volutpat velit pretium non.</p>

<hr />

<h4>Contacts :</h4>
<div>
    <strong>Email: </strong>@GlobalConstants.ContactEmail
</div>
<div>
    <strong>Phone: </strong>@GlobalConstants.ContactPhoneNumber
</div>
<h4>Links to our other stores :</h4>
<div>
    <ul>
        <li class="btn btn-info"><a class="" href="@GlobalConstants.Link1">OLX</a></li>
        <li class="btn btn-info"><a href="@GlobalConstants.Link2">ebay</a></li>
    </ul>
</div>